**/__pycache__/*
captures/*
datasets/
models/Ultralytics/
models/trained/**/
models/trained/*
!models/trained/*_best.pt

# IDE
.idea/
.vs/
.vscode/
.claude/

# .NET
bin/
obj/
*.user
*.suo

# Node / Angular
node_modules/
dist/
.angular/

.env
